In [5]:
from playwright.async_api import async_playwright
import pandas as pd

async def scrape():
    books = []

    async with async_playwright() as p:
        browser = await p.chromium.launch(headless=True)
        page = await browser.new_page()

        await page.goto("https://books.toscrape.com")

        book_elements = await page.query_selector_all(".product_pod")

        for book in book_elements:
            title = await (await book.query_selector("h3 a")).get_attribute("title")
            price = await (await book.query_selector(".price_color")).inner_text()
            books.append({"title": title, "price": price})

        await browser.close()

    return books
data = await scrape()

df = pd.DataFrame(data)
df

                                                title   price
0                                A Light in the Attic  £51.77
1                                  Tipping the Velvet  £53.74
2                                          Soumission  £50.10
3                                       Sharp Objects  £47.82
4               Sapiens: A Brief History of Humankind  £54.23
5                                     The Requiem Red  £22.65
6   The Dirty Little Secrets of Getting Your Dream...  £33.34
7   The Coming Woman: A Novel Based on the Life of...  £17.93
8   The Boys in the Boat: Nine Americans and Their...  £22.60
9                                     The Black Maria  £52.15
10     Starving Hearts (Triangular Trade Trilogy, #1)  £13.99
11                              Shakespeare's Sonnets  £20.66
12                                        Set Me Free  £17.46
13  Scott Pilgrim's Precious Little Life (Scott Pi...  £52.29
14                          Rip it Up and Start Again  £35.02
15  Our Band Could Be Your Life: Scenes from the A...  £57.25
16                                               Olio  £23.88
17  Mesaerion: The Best Science Fiction Stories 18...  £37.59
18                       Libertarianism for Beginners  £51.33
19                            It's Only the Himalayas  £45.17