In [20]:
import pandas as pd 

df = pd.read_csv('/home/gwm-279/Documents/Data_science_end_to_end/data/processed_data.csv',index_col=False)
df.head(2)

  property_type   township  bedrooms  property_size  price
0     Penthouse  Mayangone         3           6000   4500
1         Condo    Kamayut         3           2000   2300

In [ ]:
y = df['price']
x = df.drop('price',axis=1)

    property_type   township  bedrooms  property_size
0       Penthouse  Mayangone         3           6000
1           Condo    Kamayut         3           2000
2           House  Mayangone         4           6051
3           Condo  Mayangone         4           4000
4           Condo     Yankin         2            828
..            ...        ...       ...            ...
824         Condo  Sanchaung         4           1700
825     Apartment  Sanchaung         1            800
826         Condo  Sanchaung         3           1500
827         Condo  Sanchaung         2           1500
828     Penthouse  Sanchaung         1           1800

[829 rows x 4 columns]

In [30]:
numerical = x.select_dtypes(include='int64').columns.to_list()
categorical = x.select_dtypes(include='object').columns.to_list()

print(f'Numerical columns : {numerical}')
print(f'Categorical columns : {categorical}')

Numerical columns : ['bedrooms', 'property_size']
Categorical columns : ['property_type', 'township']

In [ ]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

preprocessor = ColumnTransformer(
                transformers=[
                    ('numerical_transforms',StandardScaler(),numerical),
                    ('categorical_transforms',OneHotEncoder(),categorical)
                ]
            )

x_fitted = preprocessor.fit_transform(x)

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 3316 stored elements and shape (829, 32)>

In [33]:
x_fitted.shape

(829, 32)

In [35]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x_fitted,y,random_state=23,test_size=0.2)
print(x_train.shape, y_train.shape)
print(x_test.shape, y_test.shape)

(663, 32) (663,)
(166, 32) (166,)

In [ ]:
import numpy as np 
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression

def eval(y,y_pred):
    mae = mean_absolute_error(y,y_pred)
    rmse = np.sqrt(mean_squared_error(y,y_pred))
    r2 = r2_score(y,y_pred)
    return mae,rmse,r2


models =

In [ ]:
# Function to calculate average price per township